
.about-page-section{
    padding: 284px 0 143px;
    background-size: cover;
    background-position: center center;

    .about-section-title{
        font-family: $bodoni;
        font-size: 6rem;
        line-height: 8.4rem;
        letter-spacing: 2rem;
    }
}

.about-item-section{
    padding: 91px 0 0;

    h2{
        font-size: 4.4rem;
        line-height: 5rem;
    }

    .search{
        padding-bottom: 43px;
        text-align: center;

        .form-control {
            padding: 21px 0px 17px 27px;
            width: 340px;
            border: 1px solid $gray-900;
            display: block;
            font-family: $bodoni;
            font-style: italic;
        }
    }

    .trend{
        position: relative;
        padding-bottom: 30px;
        font-size: 2rem;
        line-height: 2.8rem;
        overflow: hidden;
        img{
            transition: 1s linear;
            &:hover{
                transform: scale(1.05);
            }
        }

        a{
            text-decoration: none;
            color: $gray-900;

            .about-content{
                padding: 20px 0px;
                background: #FFF;
                position: absolute;
                top: 15.4rem;
                left: 1rem;
                right: 1rem;

                .news-title{
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    line-height: 2.4rem;
                }

                .news-date{
                    text-align: center;
                    font-family: $trend-section-title;
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    font-style: italic;
                }
            }
        }
        .image-cover{
            padding: 29px 0;
        }
    }
}

@media (min-width:500px){
    .about-item-section{
        .search{
            .form-control {
                width: 340px;
            }
        }
        .trend{
            a{
                .about-content{
                    top: 25.4rem;
                    left: 3rem;
                    right: 3rem;
                }
            }
        }
    }
}

@media (min-width: 576px){
    .about-item-section{
        .trend{
            a{
                .about-content{
                    top: 28.4rem;
                    left: 3rem;
                    right: 3rem;
                }
            }
        }
    }
}

@media (min-width: 768px){
    .about-item-section{
        .trend{
            a{
                .about-content{
                    top: 38.4rem;
                    left: 3rem;
                    right: 3rem;
                }
            }
        }
    }
}


@media (min-width: 992px){
    .about-item-section{
        .trend{
            a{
                .about-content{
                    top: 11.4rem;
                    left: 1rem;
                    right: 1rem;
                    padding: 18px 0px;
                }
            }
        }
    }
}

@media (min-width: 1200px){
    .about-item-section{
        .trend{
            a{
                .about-content{
                    top: 16.4rem;
                    left: 2rem;
                    right: 2rem;
                    padding: 20px 18px;
                }
            }
        }
    }
}