.trends-section{
    .trend{
        .trend-content{
            padding: 15px 18px;
            background: #FFF;
            position: absolute;
            top: 24.4rem;
            left: 2rem;
            right: 2rem;
        }
    }
}


.page-pagination{
    padding: 20px 0 0;
    .pagination{
        .page-link{
            color: $gray-900;
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-family: $bodoni;
            border: none;
        }
    }
}


@media (min-width: 500px){
    .trends-section{
        .trend{
            a{
                .trend-content{
                    padding: 18px 18px;
                    background: #FFF;
                    position: absolute;
                    top: 24.4rem;
                    left: 2rem;
                    right: 2rem;
                }
            }
        }
    }
}


@media (min-width: 568px){
    .trends-section{
        .trend{
            a{
                .trend-content{
                    padding: 12px 6px;
                    background: #FFF;
                    position: absolute;
                    top: 30.4rem;
                    left: 1rem;
                    right: 1rem;
                }
            }
        }
    }
}


@media (min-width: 768px){
    .trends-section{
        .trend{
            a{
                .trend-content{
                    padding: 12px 6px;
                    background: #FFF;
                    position: absolute;
                    top: 16.4rem;
                    left: 1rem;
                    right: 1rem;
                }
            }
        }
    }
}

@media (min-width: 992px){
    .trends-section{
        .trend{
            a{
                .trend-content{
                    padding: 12px 11px;
                    background: #FFF;
                    position: absolute;
                    top: 12.4rem;
                    left: 1rem;
                    right: 1rem;
                }
            }
        }
    }
}


@media (min-width: 1200px){
    .trends-section{
        .trend{
            a{
                .trend-content{
                    padding: 22px 10px;
                    background: #FFF;
                    position: absolute;
                    top: 15.4rem;
                    left: 2rem;
                    right: 2rem;
                }
            }
        }
    }
}