$services-title: $bodoni;

.services-section{
    padding: 56px 0 111px;

    .services-title{
        font-family: $services-title;
        font-size: 3rem;
        line-height: 4.5rem;
        letter-spacing: 0.5rem;
    }

    .services-title:after{
        content:'';
        height: 1px;
        width: 74px;
        background-color: $primary;
        display: block;
        position: relative;
        margin-top: 2.2rem;
        margin-bottom: 4.3rem;
    }

    .services-content-item{
        padding: 20px 20px;

        h1{
            font-size: 3rem !important;
            line-height: 4rem;
            margin-bottom: 3.6rem;
        }

        .learn-more{
            border: 1px solid $gray-900;
            font-family: 'lato';
            padding: 13px 36px;
            background-color: transparent;
        }
    }

}

@media (min-width: 768px){
    .services-section{

        .services-title{
            font-family: $services-title;
            font-size: 3rem;
            line-height: 4.5rem;
            letter-spacing: 0.5rem;
        }

        .services-content-item{
            padding: 30px 30px;
            
            h1{
                font-size: 3rem !important;
            }
        }
    }
}

@media (min-width: 992px){
    .services-section{
        
        .services-content-item{
            padding: 75px 60px 0;
            
            h1{
                font-size: 3.6rem !important;
            }
        }
    }
}

@media (min-width: 1200px){
    .services-section{
        
        .services-content-item{
            padding: 143px 95px 0px;
        }
    }
}