$trend-section-title: $bodoni;

.trends-section{
    padding: 75px 0 0;

    .trend-title{
        font-family: $trend-section-title;
        font-size: 3rem;
        line-height: 4.5rem;
        letter-spacing: 0.5rem;
    }

    .trend-title:after{
        content:'';
        height: 1px;
        width: 74px;
        background-color: $primary;
        display: block;
        position: relative;
        margin-top: 2.2rem;
        margin-bottom: 4.3rem;
    }

    .trend{
        position: relative;

        a{
            text-decoration: none;
            color: $gray-900;

            .trend-content{
                padding: 22px 18px;
                background: #FFF;
                position: absolute;
                top: 15.4rem;
                left: 3rem;
                right: 3rem;
            }
            .news-title{
                text-transform: uppercase;
                line-height: 2.4rem;
            }

            .news-date{
                text-align: center;
                font-family: $trend-section-title;
                font-size: 1.4rem;
                line-height: 1.7rem;
                font-style: italic;
            }
        }

    }
}

@media (min-width: 500px){
    .trends-section{
        .trend{
            .trend-content{
                padding: 22px 18px;
                background: #FFF;
                position: absolute;
                top: 23.4rem;
                left: 3rem;
                right: 3rem;
            }
        }
    }
}


@media (min-width: 568px){
    .trends-section{
        .trend{
            .trend-content{
                padding: 22px 18px;
                background: #FFF;
                position: absolute;
                top: 28.4rem;
                left: 3rem;
                right: 3rem;
            }
        }
    }
}


@media (min-width: 768px){
    .trends-section{
        padding: 75px 0 0px;

        .trend{
            .trend-content{
                padding: 22px 18px;
                background: #FFF;
                position: absolute;
                top: 15.4rem;
                left: 2rem;
                right: 2rem;
            }
        }
    }
}
